body {
  background: url(https://maps.googleapis.com/maps/api/place/photo?boston);
}

h4 {
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  text-align: left;
}

p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
}

.header {
	padding: 0 20px 0 20px;
}

.header-title {
	float: left;
}

.search-container {
	float: right;
	margin-top: 22px;
}

.clear {
	clear: left;
	clear: right;
}

.city {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1.7rem;
	color: white;
	text-align: center;
	margin-top: 210px;
}

.temp {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 5.5rem;
	color: white;
	text-align: center;
	margin-top: 10px;
}

.error-message {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: .6rem;
	color: #ff9999;
	margin-top: 2px;
}
