<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>

  <script>var apiKey = '<%= process.env.API_KEY %>';
    var apiKeyFL = '<%= process.env.FL_API_KEY %>';</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/6d24c2dec2.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body>
    <div class="bg">
      <div class="overlay">
        <div class="header">
          <div class="header-title"><h5>Weather API App!</h5></div>
          <div class="search-container">
           <input class="search" type="text" placeholder="Enter city name..." onkeypress="searchWeather(event)"/>
           <button type="button" id="search-button" onclick="searchWeather(event)">
           <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <div class="error-message"></div>
        </div>

      </div>
      <div class="clear"></div>
      <div>
       <p>
         <div class="city"></div>
         <div class="temp"></div>
         <div class="photo-credits"></div>'
       </p>
     </div>
   </div>
 </div>
</body>

</html>